<!-- <div class="header"> -->

    <div style="background-image: url('/assets/shopping.jpg');background-repeat: no-repeat; background-size: cover;  height:450px;">
        <div class="transbox">
          <h1 style="margin-left: 8.5rem;"> <p style="text-align: center; margin-top: 0%;">{{slogan}}</p></h1>
        </div>
        <app-products></app-products>
      </div>

    
    <!-- <div class="image" >
        <img [src]="source" height="280" width="820"> 
        <h2>{{slogan}}</h2>
    </div>  -->
<!-- </div> -->
 